.login {
  /* background: #ffffff;
  background: linear-gradient(
    90deg,
    rgb(206, 206, 253) 2%,
    rgba(181, 207, 255, 1) 39%,
    rgba(219, 214, 255, 1) 77%
  ); */
}

.fontWelcome {
  font-size: 110px;
}

.fontHeadline {
  font-size: 40px;
}

.loginModal {
  background: white;
  box-shadow: -10px 0 15px -5px rgb(198, 191, 250);
}

.signinButton {
  background: rgb(133, 175, 255);
}

.signinButton:hover {
  background: rgba(181, 207, 255, 0.77) 39%;
  cursor: pointer;
}

.createAccountButton {
  color: rgb(133, 175, 255);
  border: 2px solid rgb(133, 175, 255);
}

.createAccountButton:hover {
  background: rgba(181, 207, 255, 0.12);
  cursor: pointer;
}
